*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.678);
}

canvas{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#placar{
    background-color: white;
    width: 80px;
    height: 80px;
    margin: 40px auto;
}